* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
section {
    width: 100%;
    text-align: center;
}
.cabecera {
    width: 70%;
    margin: 0 auto;
    background-color: cadetblue;
    border: 3px solid black;
}
h1 {
    font-size: 2rem;
    color: crimson;
    margin-bottom: 15px;
}
p {
    font-size: 1.6rem;
    color: rgb(128, 0, 0);

}